/* general */
h1 {
    font-size: 40px;
    line-height: 56px;
}

/* barre de navigation */

 .show-nav .bar {
    width: 0;
    background: transparent;
}
.bar {
    display: block;
    width: 45px;
    height: 4px;
    background-color: #f1f1f1;
    border-radius: 3px;
    transition: all .5s ease-in-out;
    position: absolute;
    right: 5px;
    
}

.bar::after, .bar::before {
    content: '';
    position: absolute;
    display: block;
    width: 45px;
    height: 4px;
    background-color:  #f1f1f1;
    border-radius: 3px;
    transition: all .5s ease-in-out;
    right: 0 !important;
}

.bar::before {
    transform: translateY(-12px);
    right: 12px;
}
.bar::after {
    transform: translateY(12px);
    right: 12px;
}

.show-nav .bar::before {
    transform: rotate(45deg);
    right: 12px;
}
.show-nav .bar::after {
    transform: rotate(-45deg);
    right: 12px;

}

.hamburger-button {
    cursor: pointer;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0;
    vertical-align: top;
    display: none;

}

#hambuger-sidebar {
    position: fixed;
    width: 64%;
    z-index: 20;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    transform: translateX(-100%);
    transition: .7s ease-out;
}

.hamburger-button, #hambuger-sidebar, 
#hamburger-overlay {
    display: block;
}

#hambuger-content ul{
    justify-content: flex-end !important;
}

#hambuger-sidebar ul{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    transition: all .4s ease-in-out;
}

#hambuger-sidebar li{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    transition: all .4s ease-in-out;
}

#hambuger-sidebar li:hover{
    letter-spacing: 5px;
    padding-left: 2rem;
    color: #232222;
    font-weight: bold;
}

#hambuger-sidebar button{
    display: none;
}

#hambuger-content li{
    display: none;
} 



/* Formulaire de contact */

.container-form form {
    padding: 3rem;
    margin-bottom: 0;
}

.drop {
    display: none;
}


 .thank-you {
    font-size: 16px;
 }

 
