/* general */
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
body {
    margin: auto;
    font-family: 'Lato', sans-serif;
}

h1,h2,h4,h5,h5 {
    font-weight: bold;
    font-family: "crete round", Helvetica, sans-serif;
    text-align: center;
    padding: 20px;

}

h2 {
    color:  rgba(223,101,30,1);
}

h3 {
    font-family: 'Tangerine';
    font-size: 32px;
}
section .heading h2 {
    text-transform: uppercase;
}

.red-divider {
    width: 120px;
    height: 5px;
    background: rgba(223,101,30,1);
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 20px;
}

.white-divider {
    width: 120px;
    height: 5px;
    background:  rgba(223,101,30,1);
    margin: 0 auto;
    position: relative;
    top: 50px;
}
ul,ol {
    list-style: none;
}

a:hover {
    text-decoration: none;
    color: #0A0201;
}
header {
    position: fixed;
    width: 100%; 
    z-index: 20;
}

.btn-up {
    font-size: 45px !important;
    transition: all 0.2s ease-out;
    animation: pulseDown 4s 1s infinite;
    /* margin-bottom: 20px; */
    color: rgba(223,101,30,1);
}

@keyframes pulseDown {
    0%{
        transform: translateY(0);
        opacity: 1;
    }
    50%{
        transform: translateY(30px);
        opacity: 0.6;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
/* header */
#hambuger{
    border-bottom:2px solid #000;
    box-shadow: 0px 10px 40px rgba(159, 162, 177, .8);
    color:rgba(223,101,30,1);
    padding: 15px;
    background-color: #000;
}

nav ul {
    display: flex;
    justify-content: space-around ;
    

}

nav ul li a{
    color: rgba(223,101,30,1);
    font-size: 19px;
    font-weight: bold;
    font-family: "crete round", Helvetica, sans-serif;
}
nav ul li a:hover{
    color: rgba(223,101,30,1);
}

nav ul li a:first-child{
    text-transform: capitalize;
}

li.navbar__link a::after {
    text-decoration: none;
    display: block;
    margin-top: 8px;
    content: '';
    width: 0;
    height: 2px;
    background-color: rgba(223,101,30,1);
    transition: width .5s;
}

li.navbar__link:hover a::after, a{
    width: 100%;
    color: rgba(223,101,30,1);
}

.hamburger-button {
    display: none;
}

#hambuger-sidebar {
    display: none;
    
}

#hambuger-overlay {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
}

/* Plus d'informations */
#more-infos {
    padding-top: 110px;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    background: rgb(147,73,20);
    background: linear-gradient(135deg, rgba(147,73,20,1) 0%, rgba(242,97,13,1) 0%, rgba(221,152,112,1) 31%, rgba(218,87,14,1) 56%, rgba(243,210,194,1) 84%, rgba(216,87,25,1) 90%, rgba(251,247,247,1) 98%);
    /* background: rgb(147,73,20);
    background: linear-gradient(118deg, rgba(147,73,20,1) 0%, rgba(223,101,30,1) 0%, rgba(232,117,17,1) 37%, rgba(251,247,247,1) 73%); */
   
}

#more-infos div{
    /* width: 40%;  */
     margin-top: 20%;
     /* margin-right: 15%;  */
     display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: flex-start;
    position: relative;
    left: -20%;
}  

#more-infos div h1{
   padding: 5px;
   margin-bottom: 0;
   font-size: 3em !important;
} 


#more-infos div h5{
    padding-left: -10px; 
    padding-top: 0 !important;
    padding-bottom: 0;
    margin-bottom: 0;
 } 

 .tracking-in-contract {
	-webkit-animation: tracking-in-contract 3s cubic-bezier(0.215, 0.610, 0.355, 1.000) ;
	        animation: tracking-in-contract 3s cubic-bezier(0.215, 0.610, 0.355, 1.000) ;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-7-12 21:48:37
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-contract
 * ----------------------------------------
 */
 @-webkit-keyframes tracking-in-contract {
    0% {
      letter-spacing: 1em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      letter-spacing: normal;
      opacity: 1;
    }
  }
  @keyframes tracking-in-contract {
    0% {
      letter-spacing: 1em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      letter-spacing: normal;
      opacity: 1;
    }
  }
  
  

/*              About         */    
#about {
    padding-top: 110px;
    padding-bottom: 35px;
    background: #f1f1f1;
}

#about {
    display: flex;
    justify-content: center;
} 

#about .profile-picture span {
    color: rgba(223,101,30,1);
}
#small-button {
    display: none;
}

.profile-picture {
    padding-left: 110px;
    text-align: center;
    width: 800px;
    font-family: 'crete';
    font-size: 16px;
    padding: 10px 40px;
}

#about-content {
    width: 300px;
}

.profile-picture div{
    line-height: 40px;
    /* color: #fff; */
    text-align: left;
    font-family: 'Itim', cursive;
}

.profile-picture h1{
    padding-left: 30px;
    color:  rgba(223,101,30,1);
} 

#about-content a{
    width: 250px;
    height: 80px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    /* color: #fff; */
    text-transform: uppercase;
    border: 3px solid  rgba(223,101,30,1);
    transition: all .35s;
    display: inline-block;
    padding: 18px 50px;
    border-radius: 3px; 
    z-index: 10 !important;
    position: relative;
    right: 30px;
    top: 250px;
    background: #f1f1f1;
}

.wrapper .icon{
    width: 30px;
    height: 30px;
    border: 2px solid  rgba(223,101,30,1);
    background-color: transparent;
    transform: rotate(45deg);
    right: 7px;
    top: 15px;
    margin-top: 189px;
    margin-left: 170px;
    transition: all .35s;
}

body {
    margin: auto;
    font-family: 'Lato', sans-serif;
}

.wrapper .icon svg{
    width: 20px;
    position: absolute;
    top: calc(50% - 10px);
    left: calc(50% - 10px);
    transform: rotate(-45deg);
    fill:  rgba(223,101,30,1);
    transition: all .35s;
}

#about-content a:hover  {
    width: 200px;
    border: 2px solid  rgba(223,101,30,1);
    background: transparent;
    color: rgba(223,101,30,1);
    font-weight: bold;
    font-family: "crete round", Helvetica, sans-serif;
    transition: all .45s;
}

#about-content a:hover + .wrapper .icon{
    background-color: transparent;
    border: 3px solid  rgba(223,101,30,1);
    color:  rgba(223,101,30,1);
    right: -15%;
    position: fixed;
  }

  /* skills */
#AllSkills{
    width: 85%;
    display: flex;
    margin-left: 10%;
    flex-grow: 0;
    min-width: 595px;
}

#skill {
    /* width: 50%; */
    border:  rgba(223,101,30,1) 1px solid;
    background-color:  #f1f1f1;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
    
}

#competence {
    display: flex;
    margin: auto;
    justify-content: space-around;
    align-items: baseline;
    flex-shrink: 0;
}

@media (max-width: 1130px) { 
    #competence {
        display: flex;
        margin: auto;
        flex-direction: column;
    }

    .chart-container {
        position: relative;
        margin-bottom: 20px;
        left: 40%;
        top: 0 !important;
     
    }

    ul.timeline li #tof{
        display: none;
    }
 }

.back {
    height: 240px;
}
/* .ctx {
    width: 400px;
    height: 100px;
} */
.chart-container {
    position: relative;
    height: 45vh;
    width: 55vw;
     /* margin-left: -20%; */
     margin-right: 10%;
     top: 50px;
     min-width: 498px;
}

/* Projets réalisés */
.projetMin {
    display: none;
}

#projets {
    /* background-image: linear-gradient(45deg, #2d2d21 0%, #20201f 100%); */
    padding-bottom: 35px;
    margin-top: 60px;
    color: #fff;
    background: #f1f1f1;
}

#projets h2{
    margin-top: 50px;
    color:  rgba(223,101,30,1);
}
 
.timeline {
    padding: 30px 10px;
    position: relative;
    font-family: 'Itim', cursive;
    width: 75%;
    margin: auto;
}

.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 5px;
    background: rgba(223,101,30,1);
    /* opacity: 0.5; */
    /* margin-left: -2.5px; */
} 

.timeline > li {
    margin-bottom: 20px;
    position: relative;
}

.timeline > li:after {
    clear: both;
    content: " ";
    display: table;
}

.timeline > li:before {
    content: " ";
    display: table;
}

.timeline li .timeline-badge {
    color:rgba(223,101,30,1);
    width: 50px;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    background-color: #ddd;
    border-radius: 50%;
}

.timeline-body {
    border: #20201f 1px solid;
    padding: 20px;
}



.timeline-panel {
    margin-left: 5%;
    border: 1px solid #D68B46;
    border-radius: 4px;
    padding: 20px 25px; /* 20px en haut et en bas et 25px sur les côtés*/
    position: relative;
    box-shadow: 0 1px rgba(0, 0, 0, 0.2);
    background: rgb(147,73,20);
    background: linear-gradient(135deg, rgba(147,73,20,1) 0%, rgba(242,97,13,1) 0%, rgba(221,152,112,1) 31%, rgba(218,87,14,1) 56%, rgba(243,210,194,1) 84%, rgba(216,87,25,1) 90%, rgba(251,247,247,1) 98%);
  
}

.panel-left {
    margin-left: 30%;
}

ul.timeline li {
    display: flex;

}

.timeline-panel-container-inverted {
    float: left;
    width: 65%
} 


a.link {
    color: #000 ;
    font-size: 14px;
    font-weight: bold;
    transition: all 550ms ease-in-out;
    transform: scale(1);
    border-bottom: 2px solid #000;
    padding-bottom:3px ;
}

a.link:hover {
    color: #000;
    font-size: 16px;
    font-weight: bold;
    transform: scale(1.10);
}

/* Education */

#education {
    padding: 20px;
}

div#education-blocks > div{
    border: 3px solid rgba(223,101,30,1);
    border-radius: 8px;
    padding-right: 10px;
    margin-top: 20px;
    margin-right: 10px;
}

#education-blocks {
    display: flex;
    justify-content: center;
    padding: 15px;
    
}

.education-block {
    padding: 15px;
    max-width: 200px;
    height: 250px;
    font-family: 'Itim', cursive;
}


.education-block p:last-child {
    font-weight: bold;
    color: rgba(223,101,30,1);
}

#education-blocks div:nth-child(even) {
    color: #000;
    background: #f1f1f1;    
}

#epfc {
    margin-bottom: 39px;
}
/* formulaire contact */

#contact {
     background-color: #000;
    color: #fff;
    padding-bottom: 20px;
}




#contact .red-divider {
    position: relative;
    top: 50px;
}

 .comments {
     color: red;
     margin: 0;
 }

 .comments
{
    font-style: italic;
    font-size: 14px;
    color: #d82c2e;
    height: 25px
}
#contact-form .thank-you
{
    text-align: center;
    margin-top: 15px;
    font-weight: bold;
    font-size: 20px;
    color: #a55204;;
}

.form_bell {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Itim', cursive;
}

.container-form {
    position: relative;
    padding: 10px;
}

.container-form form {
    
    padding: 5rem;
    background-color: RGBA(255, 255, 255, .3);
    border-radius: 20px;
    text-align: center;
    border-left: 1px solid rgba(255, 255, 255, .3);
    border-top: 1px solid rgba(255, 255, 255, .3);
    box-shadow: 20px 20px 40px -6px rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    -moz-backdrop-filter: blur(10px);
    margin-bottom: 40px;
    position: relative;
    z-index: 3;
}

.styleinput {
    background: transparent;
    border: none;
    border-left: 1px solid rgba(255,255,255, 0.3);
    border-top: 1px solid rgba(255,255,255, 0.3);
    padding: 1rem;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    -moz-backdrop-filter: blur(5px);
    box-shadow: 4px 4px 60px rgba(0,0,0,.2);
    color:white;
    font-weight: 500;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
    transition: all .3s;
}

::placeholder {
    color: white;
}

input:hover, 
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="text"]:active,
input[type="email"]:active,
input[type="password"]:active,
textarea:focus {
    background: rgba(255,255,255,.1);
    box-shadow: 4px 4px 60px 8px rgba(0,0,0,.2);
    border: none;
    outline: none;
}

input[type="submit"] {
    cursor: pointer;
    margin-top: 10px;
    font-size: 1rem;
    width: 150px !important;
    color: rgba(223,101,30,1);
    transition: all .4s;
}

input[type="submit"]:hover{
    background: rgba(223,101,30,1);
    color: #fff;
}

.drop {
    background: rgba(255, 255, 255, .3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    -moz-backdrop-filter: blur(10px);
    position: absolute;
    border-left: 1px solid rgba(255,255,255, 0.3);
    border-top: 1px solid rgba(255,255,255, 0.3);
    border-radius: 10px;
    box-shadow: 10px 10px 60px -8px;
}

.drop-1 {
    height: 80px;
    width: 80px;
    top: 120px; 
    left:-40px;
}
.drop-2 {
    height: 80px; width: 80px;
    right: 95px; bottom: 20px;
}

.drop-3 {
    height: 100px; width: 100px;
    bottom: 120px; right: -50px;
  }
  
  .drop-4 {
    height: 120px; width: 120px;
    top: -20px; right: -60px;
  }
  
  .drop-5 {
    height: 60px; width: 60px;
    bottom: 170px; left: 90px;
  }

.container-form form input {
   
    border-radius: 50px;
}

.container-form form textarea {
   width: 120%;
   margin-left: -25px;    
}

footer {
    background-color: #000;
    color: rgba(223,101,30,1);
    height: 70px;
}

footer h5 {
    padding: 7px;
    background-color: #000;
    box-shadow: 0px 10px 40px rgba(159, 162, 177, .8);
}
 footer h5 a{
     
     margin-left:3px;
     margin-right: 3px;
     
 }

 footer h5 a:hover{
    color: #fff;
}

 /* footer */


